
@{
    ViewBag.Title = "Error_500";
}

<div class="container-fluid"></div>
<div class="inner-section inner-section--mod">
    <div class="inner-section__main inner-section__main--secondary">
        <div class="inner-section__header">
            <h1 class="inner-section__heading">Ошибка 500</h1>
        </div>
        <figure class="error-notification">
            <div class="error-notification__img-wrap"><img class="error-notification__img img-responsive" src="~/assets/images/general/500.png" alt="Страница не найдена"></div>
            <figcaption class="error-notification__figcaption">
                <div class="error-notification__desc">К сожалению, мы не смогли обработать последний ваш запрос. Пожалуйста, попробуйте ещё раз или свяжитесь с нами по телефону, будем рады помочь.</div><a class="btn btn--main" href="@Url.Action("MainPage", "Home")">Вернуться на главную</a>
            </figcaption>
        </figure>
    </div>
</div>
