
@{
    ViewBag.Title = "Basket_step_2";
}

<div class="container-fluid">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Автохимия</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Система топливная</a></li>
        <li class="breadcrumbs__item">Присадки к бензину</li>
    </ul>
    <div class="primary-layout">
        <div class="primary-content">
            <div class="sidebar">
                <div class="category-nav d-none d-md-block">
                    <ul class="category-nav__list">
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Корзина</a></li>
                        <li class="category-nav__item active"><a class="category-nav__link" href="#">Заказы</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Оплата</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Акт сверки</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Клиенты</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Профиль</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">VIN запросы</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Мероприятия</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Акции</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Управление пользователями</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Регистрация пользователей</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Статистика доступа</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Контент групп</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Управление сайтом</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Загрузка прайса/кроссов</a></li>
                    </ul>
                </div>
            </div>
            <main class="main-content">
                <h1 class="main-title">Заказ<span>№ 00000154705@19</span></h1>
                <div class="order-steps-wrap text-center">
                    <ul class="order-steps">
                        <li class="order-steps__item">
                            <svg class="icon icon-shopping-cart order-steps__icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#shopping-cart"></use>
                            </svg><span class="order-steps__title">Корзина</span>
                        </li>
                        <li class="order-steps__item is-current">
                            <svg class="icon icon-wallet-strong order-steps__icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#wallet-strong"></use>
                            </svg><span class="order-steps__title">Оплата</span>
                        </li>
                        <li class="order-steps__item">
                            <svg class="icon icon-lorry order-steps__icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#lorry"></use>
                            </svg><span class="order-steps__title">Доставка</span>
                        </li>
                        <li class="order-steps__item">
                            <svg class="icon icon-confirmation order-steps__icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#confirmation"></use>
                            </svg><span class="order-steps__title">Завершение</span>
                        </li>
                    </ul>
                </div>
                <div class="payment-section">
                    <div class="payment-section__heading">Форма оплаты</div>
                    <div class="radio-option">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="radio-opt active">
                                    <div class="radio-opt__title">Оплата через систему <span>EPay KKB</span></div>
                                    <div class="radio-opt__user-data">
                                        <strong class="radio-opt__notice">Введите данные для проведения оплаты</strong>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <label class="radio-opt__label" for="u-email">E-mail плательщика</label>
                                                <div class="radio-opt__field">
                                                    <input class="radio-opt__input" type="email" name="user-email" id="u-email">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="radio-opt__label" for="u-total">Сумма</label>
                                                <div class="radio-opt__field">
                                                    <input class="radio-opt__input radio-opt__input--total" type="text" name="user-total" value="0" id="u-total"><span class="radio-opt__total-currency">Руб</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-online" checked id="opt-1">
                                            <label class="radio-label__main" for="opt-1">Выбрать этот способ оплаты</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">Оплата наличными</div>
                                    <figure class="radio-opt__figure">
                                        <svg class="icon radio-opt__icon" viewbox="0 0 512 512">
                                            <use href="~/assets/images/svg/symbol/sprite.svg#money"></use>
                                        </svg>
                                        <figcaption class="radio-opt__figcaption"><strong>Оплата заказа наличными курьеру либо в кассу</strong></figcaption>
                                    </figure>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-2">
                                            <label class="radio-label__main" for="opt-2">Выбрать этот способ оплаты</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-footer d-none d-md-flex">
                    <a class="btn btn--reverse" href="#">Назад</a>
                    <textarea class="order-footer__message" placeholder="Комментарий к заказу" rows="1" name="order-message"></textarea>
                    <div class="footer-summary-price">
                        <div class="footer-summary-price__title">Сумма к оплате</div>
                        <div class="footer-summary-price__value">2 297 <span>Руб</span></div>
                    </div><a class="btn btn--main" href="#">Перейти к оплате<i class="fas fa-chevron-circle-right"></i></a>
                </div>
                <div class="order-mob-footer d-md-none">
                    <footer class="order-mob-footer__main">
                        <p class="order-mob-footer__payment">Сумма к оплате</p>
                        <div class="order-mob-footer__total-price"><span class="order-mob-footer__total-price-value">2 297</span> Руб</div>
                        <textarea class="order-mob-footer__message" placeholder="Комментарий к заказу" rows="2" name="order-message"></textarea>
                    </footer>
                    <div class="order-mob-footer__controls">
                        <div class="row">
                            <div class="col-4"><a class="btn btn--reverse" href="#">Назад</a></div>
                            <div class="col-8"><a class="btn btn--main" href="#">Перейти к оплате<i class="fas fa-chevron-circle-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>