
@{
    ViewBag.Title = "Error_404";
}

<div class="container-fluid"></div>
<div class="inner-section inner-section--mod">
    <div class="inner-section__main inner-section__main--secondary">
        <div class="inner-section__header">
            <h1 class="inner-section__heading">Ошибка 404</h1>
        </div>
        <figure class="error-notification">
            <div class="error-notification__img-wrap"><img class="error-notification__img img-responsive" src="~/assets/images/general/404.png" alt="Страница не найдена"></div>
            <figcaption class="error-notification__figcaption">
                <div class="error-notification__desc">Так уж получилось, что из множества страниц нашего сайта Вы оказались как раз на той, которая уже не существует… Предлагаем вам вернуться на главную страницу.</div><a class="btn btn--main" href="#">Вернуться на главную</a>
            </figcaption>
        </figure>
    </div>
</div>
