
@{
    ViewBag.Title = "Faq";
}

<div class="container-fluid">
    <main class="inner-section-body">
        </br>
        <h1 class="main-title">Часто задаваемые вопросы</h1>
        <div class="primary-layout">
            <div class="accordeon">
                <div class="accordeon__heading">Регистрация нового пользователя? <span></span></div>
                <div class="accordeon__pane">
                    <div class="post">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                    </div>
                </div>
                <div class="accordeon__heading">Вход зарегистрированного пользователя? <span></span></div>
                <div class="accordeon__pane">
                    <div class="post">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                    </div>
                </div>
                <div class="accordeon__heading">Запрос на представительство юридического лица? <span></span></div>
                <div class="accordeon__pane">
                    <div class="post">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                    </div>
                </div>
                <div class="accordeon__heading is-active">Поиск товара? <span></span></div>
                <div class="accordeon__pane">
                    <div class="accordeon__heading">Поиск через каталог товаров? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading is-active">Поиск по каталожному номеру? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">Поиск товара, используя вкладку «Подбор по автомобилю»? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">Карточка товара? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                </div>
                <div class="accordeon__heading is-active">Работа с корзиной? <span></span></div>
                <div class="accordeon__pane">
                    <div class="post">
                        <p>После того, как Вы выберите интересующие Вас товары и положите их в корзину, для дальнейшего оформления заказа Вам необходимо перейти в корзину. Для того чтобы перейти в корзину Вам следует либо кликнуть на пиктограмму корзины в правом верхнем углу, либо кликнуть на надпись <strong>&laquo;Корзина&raquo; (Рис.5.1)</strong>.</p>
                        <figure class="text-center">
                            <img class="img-responsive img-shadow" src="~/assets/images/content/Motex-screen-1.jpg" alt="">
                            <figcaption><strong>Рис.5.1</strong></figcaption>
                        </figure>
                        <p>В корзине отображена вся необходимая информация по товарам, которые Вы положили в нее: каталожный номер, наименование, производитель, цена за единицу, количество, сумма, срок доступности товара. <strong>(Рис.5.2)</strong></p>
                        <figure class="text-center">
                            <img class="img-responsive img-shadow" src="~/assets/images/content/Motex-screen-2.jpg" alt="">
                            <figcaption><strong>Рис.5.2</strong></figcaption>
                        </figure>
                        <p>Обратите внимание, что в корзине в графе «Кол-во» можно менять количество интересующего Вас товара. Кроме того, можно удалить лишний товар проставив напротив него галочку в последнем столбце и нажав кнопку «Удалить», расположенную в правом нижнем углу.</p>
                        <p>Для того чтобы сформировать заказ, проставьте галочку в последнем столбце напротив тех товаров, которые Вы хотите включить в заказ, удостоверьтесь в том, что указано верное количество товара, после чего нажмите кнопку «Сформировать заказ», расположенную в правом нижнем углу. <strong>(Рис.16)</strong></p>
                    </div>
                </div>
                <div class="accordeon__heading">Оформление заказа? <span></span></div>
                <div class="accordeon__pane">
                    <div class="accordeon__heading">Карточка заказа? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">Выбор типа оплаты? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">Оформление доставки? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">Резюме заказа? <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                </div>
                <div class="accordeon__heading">Отслеживание заказов? <span></span></div>
                <div class="accordeon__pane">
                    <div class="post">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                    </div>
                </div>
                <div class="accordeon__heading is-active">Вкладка &laquo;Мой кабинет&raquo;? <span></span></div>
                <div class="accordeon__pane">
                    <div class="accordeon__heading">&laquo;Корзина&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Заказы&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Акт сверки&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Клиенты&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Личные данные&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;VIN запросы&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Личные данные&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Мероприятия&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Акции&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                    <div class="accordeon__heading">&laquo;Онлайн-запись на СТО&raquo; <span></span></div>
                    <div class="accordeon__pane">
                        <div class="post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum optio rem iste hic similique numquam, deserunt dignissimos perferendis obcaecati quibusdam sapiente illo esse ad magnam harum suscipit minima nisi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
