
@{
    ViewBag.Title = "MainPage";
}
<div class="main-carousel">
    <div class="swiper-container main-carousel__container js-main-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <figure class="main-carousel__slide" style="background-image: url('/assets/images/content/slide-3.jpg')">
                    <figcaption class="main-carousel__desc">
                        <div class="main-carousel__title">Текст предложения <span class="main-carousel__title-emphasis">или акции</span></div>
                        <p class="main-carousel__desc-small">пояснения по тексту предложения или акции</p><a class="main-carousel__btn btn btn--main" href="#">Заказать</a>
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide">
                <figure class="main-carousel__slide is-white" style="background-image: url('/assets/images/content/slide-2.jpg')">
                    <figcaption class="main-carousel__desc">
                        <div class="main-carousel__title">Ключ к <strong class="main-carousel__title-emphasis">самому лучшему!</strong></div>
                        <p class="main-carousel__desc-small">Только оригинальные запчасти!</p><a class="main-carousel__btn btn btn--main" href="#">Заказать</a>
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide">
                <figure class="main-carousel__slide is-white" style="background-image: url('/assets/images/content/slide-1.jpg')">
                    <figcaption class="main-carousel__desc">
                        <div class="main-carousel__logo-wrap"><img class="main-carousel__logo img-responsive" src="~/assets/images/content/apollo-tyres-logo.svg" alt="Apollo" width="140" height="50"></div>
                        <div class="main-carousel__title">Шины для <strong class="main-carousel__title-emphasis">победителей</strong></div>
                        <p class="main-carousel__desc-small">Доступные цены</p><a class="main-carousel__btn btn btn--main" href="#">Заказать</a>
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide">
                <figure class="main-carousel__slide is-white" style="background-image: url('/assets/images/content/slide-2.jpg')">
                    <figcaption class="main-carousel__desc">
                        <div class="main-carousel__logo-wrap"><img class="main-carousel__logo img-responsive" src="~/assets/images/content/apollo-tyres-logo.svg" alt="Apollo" width="140" height="50"></div>
                        <div class="main-carousel__title">Шины для <strong class="main-carousel__title-emphasis">победителей</strong></div>
                        <p class="main-carousel__desc-small">Широкий ассортимент. Доступные цены</p><a class="main-carousel__btn btn btn--main" href="#">Заказать</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="main-carousel__pagination"></div>
    </div>
</div>
<main class="main">
    <section class="news-section news-section--column section">
        <div class="container-fluid">
            <div class="news-section__area">
                <div class="news-section__title section__heading"><a href="@Url.Action("News", "Informational")">Новости</a></div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-2.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-08-16">28 мая 2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">Открытие филиала в г. Орша</a></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-2.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-08-16">28 мая 2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">Открытие филиала в г. Орша</a></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-3.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-08-16">28 мая 2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">Конкурс на лучший фото/видеосюжет на тему «Почему «БИГ»?»</a></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-4.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-07-24">28 мая 2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">Тормозные колодки Textar с пластинами Q+: развитие ассортимента</a></div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="news-section__area">
                <div class="news-section__title section__heading"><a href="@Url.Action("Catalog", "CatalogSearch")">Акции</a></div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-5.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-09-09">28 мая 2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">Купи продукцию Lemforder, Sachs и ZF oil</a></div><a class="news__more-btn btn btn--main" href="#">Подробнее</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-6.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-08-16">16.08.2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">АКЦИЯ TRT С 15.07.2019-15.09.2019!</a></div><a class="news__more-btn btn btn--main" href="#">Подробнее</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-6.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-08-16">16.08.2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">АКЦИЯ TRT С 15.07.2019-15.09.2019!</a></div><a class="news__more-btn btn btn--main" href="#">Подробнее</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article class="news">
                            <a class="news__img-wrap" href="#"><img class="news__img" src="~/assets/images/content/news-7.jpg" alt="News Title"></a>
                            <div class="news__body">
                                <time class="news__date" datetime="2019-09-09">09.09.2019</time>
                                <div class="news__title"><a class="news__title-link" href="#">Купи продукцию Lemforder, Sachs и ZF oil</a></div><a class="news__more-btn btn btn--main" href="#">Подробнее</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gray categories">
        <div class="container-fluid">
            <div class="categories__heading section__heading"><a href="#">Популярные категории</a></div>
            <div class="categories__division-section">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <a class="category-division" href="#">
                            <figure class="category-division__main">
                                <div class="category-division__img-wrap"><img class="category-division__img" src="~/assets/images/content/category-1.jpg" alt="Шины"></div>
                                <figcaption class="category-division__caption">Шины</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="category-division" href="#">
                            <figure class="category-division__main">
                                <div class="category-division__img-wrap"><img class="category-division__img" src="~/assets/images/content/category-2.jpg" alt="Диски"></div>
                                <figcaption class="category-division__caption">Диски</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="category-division" href="#">
                            <figure class="category-division__main">
                                <div class="category-division__img-wrap"><img class="category-division__img" src="~/assets/images/content/category-3.jpg" alt="Автохимия"></div>
                                <figcaption class="category-division__caption">Автохимия</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="category-division" href="#">
                            <figure class="category-division__main">
                                <div class="category-division__img-wrap"><img class="category-division__img" src="~/assets/images/content/category-2.jpg" alt="Диски"></div>
                                <figcaption class="category-division__caption">Диски</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="categories__nav-section">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="categories-nav">
                            <a class="categories-nav__heading" href="#">
                                <span class="categories-nav__heading-icon-wrap">
                                    <svg class="icon icon-tools categories-nav__heading-icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#tools"></use>
                                    </svg>
                                </span><span class="categories-nav__heading-text">Инструменты</span>
                            </a>
                            <ul class="categories-nav__list">
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Домкраты</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Наборы</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Ключи балонные</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="categories-nav">
                            <a class="categories-nav__heading" href="#">
                                <span class="categories-nav__heading-icon-wrap">
                                    <svg class="icon icon-tools categories-nav__heading-icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#tools"></use>
                                    </svg>
                                </span><span class="categories-nav__heading-text">Аксессуары</span>
                            </a>
                            <ul class="categories-nav__list">
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Оплётки на руль</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Провода пусковые</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Очистка от снега и льда</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="categories-nav">
                            <a class="categories-nav__heading" href="#">
                                <span class="categories-nav__heading-icon-wrap">
                                    <svg class="icon icon-tools categories-nav__heading-icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#tools"></use>
                                    </svg>
                                </span><span class="categories-nav__heading-text">Инструменты</span>
                            </a>
                            <ul class="categories-nav__list">
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Домкраты</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Наборы</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Ключи балонные</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="categories-nav">
                            <a class="categories-nav__heading" href="#">
                                <span class="categories-nav__heading-icon-wrap">
                                    <svg class="icon icon-tools categories-nav__heading-icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#tools"></use>
                                    </svg>
                                </span><span class="categories-nav__heading-text">Аксессуары</span>
                            </a>
                            <ul class="categories-nav__list">
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Оплётки на руль</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Провода пусковые</a></li>
                                <li class="categories-nav__item"><a class="categories-nav__link" href="#">Очистка от снега и льда</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="categories__heading section__heading"><a href="@Url.Action("Catalog_brands", "CatalogSearch")">Каталог брендов</a></div>
                </div>
            </div>
        </div>
    </section>
</main>


