
@{
    ViewBag.Title = "Sto";
}

<div class="container-fluid">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Автохимия</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Система топливная</a></li>
        <li class="breadcrumbs__item">Присадки к бензину</li>
    </ul>
    <main>
        <div class="primary-layout">
            <div class="main-heading">
                <h1 class="main-heading__text">Онлайн-запись на СТО</h1>
            </div>
            <form class="signup-sto" action="/" method="POST" name="signup-sto">
                <fieldset class="signup-sto__car-data">
                    <legend class="signup-sto__heading">Данные автомобиля</legend>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-vincode">Выберите марку <span>*</span></label>
                                <select class="js-select-autocomplete" name="car-brand" id="u-car-vincode">
                                    <option value="BMW">BMW</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Mazda">Mazda</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Audi">Audi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-model">Модель авто <span>*</span></label>
                                <select class="js-select-autocomplete" name="car-model" id="u-car-model">
                                    <option value="Land-Cruiser">Land Cruiser (_J12_)</option>
                                    <option value="A6">A6</option>
                                    <option value="Romero">Romero</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-engine">Объем и тип двигателя <span>*</span></label>
                                <select class="js-select-default" name="car-engine" id="u-car-engine">
                                    <option value="2.0">2.0</option>
                                    <option value="2.2">2.2</option>
                                    <option value="3.0">3.0</option>
                                    <option value="4.0">4.0</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-year">Год выпуска <span>*</span></label>
                                <select class="js-select-autocomplete" name="car-year" id="u-car-year">
                                    <option value="1980-1985">1980-1985</option>
                                    <option value="1985-1990">1985-1990</option>
                                    <option value="1990-1995">1990-1995</option>
                                    <option value="1995-2000">1995-2000</option>
                                    <option value="2000-2005">2000-2005</option>
                                    <option value="2005-2010">2005-2010</option>
                                    <option value="2010-2015">2010-2015</option>
                                    <option value="2015-2020">2015-2020</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="user-car-vincode">VIN код автомобиля</label>
                                <input class="signup-sto__input" id="user-car-vincode" type="text" name="user-car-vincode">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="user-car-number">Гос. номер автомобиля</label>
                                <input class="signup-sto__input" id="user-car-number" type="text" name="user-car-number">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="signup-sto__owner-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="signup-sto__heading">Данные владельца</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="signup-sto__field">
                                        <label class="signup-sto__label" for="u-name">Ваше Имя</label>
                                        <input class="signup-sto__input" id="u-name" type="text" name="user-name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="signup-sto__field">
                                        <label class="signup-sto__label" for="user-phone">Ваш номер мобильного <span class="signup-sto__label-required">*</span></label>
                                        <input class="signup-sto__input" id="user-phone" type="text" name="user-phone" placeholder="+727">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signup-sto__heading">Время записи</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="signup-sto__field">
                                        <label class="signup-sto__label" for="date-from">Время <span>*</span></label>
                                        <div class="date-picker-main">
                                            <input class="signup-sto__date-from" id="date-from" type="text" name="order-from" placeholder="Дата">
                                            <svg class="icon icon-calendar-alt date-picker-main-icon">
                                                <use href="~/assets/images/svg/symbol/sprite.svg#calendar-alt"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="signup-sto__field">
                                        <label class="signup-sto__label" for="u-signup-time">Время</label>
                                        <select class="js-select-default" name="signup-time" id="u-signup-time">
                                            <option value="10:00">10:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="12:00">12:00</option>
                                            <option value="13:00">13:00</option>
                                            <option value="14:00">14:00</option>
                                            <option value="15:00">15:00</option>
                                            <option value="16:00">16:00</option>
                                            <option value="17:00">17:00</option>
                                            <option value="18:00">18:00</option>
                                            <option value="19:00">19:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="signup-sto__service-data">
                    <legend class="signup-sto__heading">Время записи <span>*</span></legend>
                    <div class="radio-option">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt active">
                                    <div class="radio-opt__title">СТО Варница</div>
                                    <div class="radio-opt__address">г. Кишинёв, ул. Варница 8/1</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-online" checked id="opt-1">
                                            <label class="radio-label__main" for="opt-1">Выбрать</label>
                                        </div>
                                        <div class="radio-opt__service"><i class="tooltip fas fa-info" data-template="params1"><span>Услуги</span></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Каля Ешилор</div>
                                    <div class="radio-opt__address">г. Кишинёв, ул. Каля Ешилор 14</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-2">
                                            <label class="radio-label__main" for="opt-2">Выбрать</label>
                                        </div>
                                        <div class="radio-opt__service"><i class="tooltip fas fa-info" data-template="params2"><span>Услуги</span></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Узинелор</div>
                                    <div class="radio-opt__address">г. Кишинёв, ул. Узинелор, 88</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-3">
                                            <label class="radio-label__main" for="opt-3">Выбрать</label>
                                        </div>
                                        <div class="radio-opt__service"><i class="tooltip fas fa-info" data-tippy-content="Какая-то подсказка о возврате и обмене товара"><span>Услуги</span></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Бельцы</div>
                                    <div class="radio-opt__address">г. Бельцы, ул. Аэродромная 7а</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-4">
                                            <label class="radio-label__main" for="opt-4">Выбрать</label>
                                        </div>
                                        <div class="radio-opt__service"><i class="tooltip fas fa-info" data-template="params2"><span>Услуги</span></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Комрат</div>
                                    <div class="radio-opt__address">г. Комрат, ул. Победы 115</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-5">
                                            <label class="radio-label__main" for="opt-5">Выбрать</label>
                                        </div>
                                        <div class="radio-opt__service"><i class="tooltip fas fa-info" data-template="params1"><span>Услуги</span></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="signup-sto__footer">
                    <div class="row">
                        <div class="col-md-9">
                            <textarea class="signup-sto__msg" rows="1" name="user-msg" placeholder="Краткое описание проблемы"></textarea>
                        </div>
                        <div class="col-md-3">
                            <input class="signup-sto__btn btn btn--main" type="submit" name="send-data" value="Записаться на СТО">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <div data-tooltip-content="params1">
        <div class="tooltip-markup">
            <div class="tooltip-markup__heading">Подробная информация</div>
            <div class="tooltip-markup__body">
                <div class="manual-params">
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Номер</dt>
                        <dd class="manual-params__property">04112</dd>
                    </dl>
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Наименование</dt>
                        <dd class="manual-params__property">Комплект уплотнительных прокладок двигателя <small>Примечание: 2ZRFXE..ZVW30</small></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div data-tooltip-content="params2">
        <div class="tooltip-markup">
            <div class="tooltip-markup__heading">Подробная информация</div>
            <div class="tooltip-markup__body">
                <div class="manual-params">
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Номер</dt>
                        <dd class="manual-params__property">04112</dd>
                    </dl>
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Наименование</dt>
                        <dd class="manual-params__property">Комплект уплотнительных прокладок двигателя <small>Примечание: 2ZRFXE..ZVW30</small></dd>
                    </dl>
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Количество</dt>
                        <dd class="manual-params__property">ДоставкаАвтотранспортом</dd>
                    </dl>
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Range</dt>
                        <dd class="manual-params__property">12.2011 - 02.2012</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

