
@{
    ViewBag.Title = "Vacation";
}

<div class="container-fluid">
    <div class="primary-layout">
        <div class="primary-content">
            <div class="sidebar">
                <div class="category-nav d-none d-md-block">
                    <ul class="category-nav__list">
                        <li class="category-nav__item active"><a class="category-nav__link" href="#">Все</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Охранник/контролер на склад</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Автослесарь</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Работник склада</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Автоэлектрик-диагност</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Менеджер по работе с клиентами</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Программист MS SQL</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Специалист по сходу-развалу автомобиля</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Кассир</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="#">Водитель-экспедитор</a></li>
                    </ul>
                </div>
            </div>
            <main class="main-content">
                <h1 class="main-title">Вакансии</h1>
                <p class="preview-desc">Компания AutoWares обеспечивает своим сотрудникам комфортные условия труда, достойную оплату и возможности для самореализации, давая уверенность в завтрашнем дне. В компании много интересных проектов, и если Вы ищете увлекательную, перспективную работу, то обращайтесь в отдел кадров по телефону <strong>(022) 815-449</strong> или <strong>+(373) 79-637-411</strong> или пишите на почту <a href="mailto:hr@Autowares.md">hr@AutoWares.md</a>.</p>
                <article class="vacancy">
                    <header class="vacancy__header">
                        <div class="vacancy__title">Руководитель отдела рекламы и pr</div>
                    </header>
                    <div class="vacancy__requires">
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-address vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#address"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Город:</div>
                                <div class="vacancy__value">Кишинев</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-mortarboard vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#mortarboard"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Образование:</div>
                                <div class="vacancy__value">Высшее</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-promotion vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#promotion"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Опы работы:</div>
                                <div class="vacancy__value">Не менее 2-х лет</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-money vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#money"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Зарплата:</div>
                                <div class="vacancy__value">Договорная</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-time vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#time"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">График работы:</div>
                                <div class="vacancy__value">Полная занятость</div>
                            </div>
                        </figure>
                    </div>
                    <div class="vacancy__sub-title">Требования:</div>
                    <p class="vacancy__desc">Мы ищем энергичного, креативного сотрудника, готового работать с большим объемом информации в режиме постоянных изменений и движения вперед. Если Вы обладаете необходимыми качествами, имеете соответствующее образование и опыт работы, свободно владеете английским языком и любите свою работу, то мы ждем Ваших резюме! Уважаемые соискатели, все резюме будут рассмотрены в течение 7 дней.</p>
                    <div class="vacancy__sub-title">Обязанности:</div>
                    <ul class="vacancy__details">
                        <li class="vacancy__detail">руководство отделом рекламы и PR, постановка задач сотрудникам;</li>
                        <li class="vacancy__detail">организация продвижения продукции на рынки сбыта;</li>
                        <li class="vacancy__detail">планирование рекламных мероприятий, оценка эффективности;</li>
                        <li class="vacancy__detail">организация выставок, бизнес-форумов, конференций, взаимодействие со СМИ, информационными, рекламными агентствами и т.д;</li>
                        <li class="vacancy__detail">укрепление позиций бренда на рынке.</li>
                    </ul>
                    <div class="vacancy__sub-title">Условия:</div>
                    <ul class="vacancy__details">
                        <li class="vacancy__detail">достойный уровень оплаты (обсуждается с успешным кандидатом);</li>
                        <li class="vacancy__detail">оформление согласно ТК РМ;</li>
                        <li class="vacancy__detail">молодой, дружный коллектив;</li>
                        <li class="vacancy__detail">возможность получения ценного опыта в успешной компании;</li>
                        <li class="vacancy__detail">тренинги, повышение квалификации за счет компании;</li>
                        <li class="vacancy__detail">поездки к поставщикам в Европу.</li>
                    </ul>
                </article>
                <article class="vacancy">
                    <header class="vacancy__header">
                        <div class="vacancy__title">Водитель-экспедитор</div>
                    </header>
                    <div class="vacancy__requires">
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-address vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#address"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Город:</div>
                                <div class="vacancy__value">Алмааты</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-mortarboard vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#mortarboard"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Образование:</div>
                                <div class="vacancy__value">Любое</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-promotion vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#promotion"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Опы работы:</div>
                                <div class="vacancy__value">От 2-х лет</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-money vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#money"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">Зарплата:</div>
                                <div class="vacancy__value">Договорная</div>
                            </div>
                        </figure>
                        <figure class="vacancy__require">
                            <div class="vacancy__icon-wrap">
                                <svg class="icon icon-time vacancy__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#time"></use>
                                </svg>
                            </div>
                            <div class="vacancy__figcaption">
                                <div class="vacancy__property">График работы:</div>
                                <div class="vacancy__value">Полная занятость</div>
                            </div>
                        </figure>
                    </div>
                    <div class="vacancy__sub-title">Требования:</div>
                    <ul class="vacancy__details">
                        <li class="vacancy__detail">Водительское удостоверение категории &laquo;В, С&raquo;.</li>
                        <li class="vacancy__detail">Опыт работы не менее 2-х лет водителем-экспедитором, умение работать с товарно-сопроводительными документами.</li>
                        <li class="vacancy__detail">Работоспособность, честность, вежливость с клиентами, исполнительность, готовность работать в динамичном ритме.</li>
                        <li class="vacancy__detail">Владение русским и румынским языком.</li>
                    </ul>
                    <div class="vacancy__sub-title">Обязанности:</div>
                    <ul class="vacancy__details">
                        <li class="vacancy__detail">Перевозка / Экспедирование товара</li>
                        <li class="vacancy__detail">Работа с накладными</li>
                    </ul>
                    <div class="vacancy__sub-title">Условия:</div>
                    <ul class="vacancy__details">
                        <li class="vacancy__detail">своевременная оплата труда, спец. одежда</li>
                        <li class="vacancy__detail">официальное трудоустройство, полный cоц. пакет</li>
                        <li class="vacancy__detail">молодой дружный коллектив</li>
                    </ul>
                </article>
                <div class="pagination-wrap">
                    <div class="pagination">
                        <a class="pagination__prev" href="#">
                            <svg class="icon icon-arrow-left pagination__icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#arrow-left"></use>
                            </svg>
                        </a>
                        <ul class="pagination__list">
                            <li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
                            <li class="pagination__item"><a class="pagination__link active" href="#">4</a></li>
                            <li class="pagination__item">&hellip;</li>
                            <li class="pagination__item"><a class="pagination__link" href="#">12</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#">13</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#">14</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#">15</a></li>
                        </ul><a class="pagination__next" href="#">
                            <svg class="icon icon-arrow-right pagination__icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

