@{
    ViewBag.Title = "CreateSto";
}

<div class="container-fluid">
    <main>
        <div class="primary-layout">
            <div class="main-heading">
                <h1 class="main-heading__text">Онлайн-запись на СТО</h1>
            </div>
            <form class="signup-sto" action="/" method="POST" name="signup-sto">
                <fieldset class="signup-sto__car-data">
                    <legend class="signup-sto__heading">Данные автомобиля</legend>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-vincode">Выберите марку <span>*</span></label>
                                <select class="js-select-autocomplete" name="car-brand" id="u-car-vincode">
                                    <option value="Acura">Acura</option>
                                    <option value="Alfa Romeo">Alfa Romeo</option>
                                    <option value="Audi">Audi</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Chevrolet">Chevrolet</option>
                                    <option value="Chrysler">Chrysler</option>
                                    <option value="Citroen">Citroen</option>
                                    <option value="Daewoo">Daewoo</option>
                                    <option value="Dodge">Dodge</option>
                                    <option value="Fiat">Fiat</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="Infiniti">Infiniti</option>
                                    <option value="Jaguar">Jaguar</option>
                                    <option value="Jeep">Jeep</option>
                                    <option value="Kia">Kia</option>
                                    <option value="Land Rover">Land Rover</option>
                                    <option value="Lexus">Lexus</option>
                                    <option value="Mazda">Mazda</option>
                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    <option value="Mitsubishi">Mitsubishi</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Opel">Opel</option>
                                    <option value="Peugeot">Peugeot</option>
                                    <option value="Porsche">Porsche</option>
                                    <option value="Renault">Renault</option>
                                    <option value="Skoda">Skoda</option>
                                    <option value="Subaru">Subaru</option>
                                    <option value="Suzuki">Suzuki</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Volkswagen">Volkswagen</option>
                                    <option value="Volvo">Volvo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-model">Модель авто <span>*</span></label>
                                <input class="signup-sto__input" id="u-car-model" type="text" name="car-model" placeholder="Введите модель автомобиля">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-engine">Объем и тип двигателя <span>*</span></label>
                                <input class="signup-sto__input" id="u-car-engine" type="text" name="car-engine" placeholder="Например: 2.0 бензин">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="u-car-year">Год выпуска <span>*</span></label>
                                <select class="js-select-autocomplete" name="car-year" id="u-car-year">
                                    <option value="">Выберите год</option>
                                    @for (int year = 1970; year <= 2025; year++)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="user-car-vincode">VIN код автомобиля</label>
                                <input class="signup-sto__input" id="user-car-vincode" type="text" name="user-car-vincode">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="signup-sto__field">
                                <label class="signup-sto__label" for="user-car-number">Гос. номер автомобиля</label>
                                <input class="signup-sto__input" id="user-car-number" type="text" name="user-car-number">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="signup-sto__owner-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="signup-sto__heading">Время записи</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="signup-sto__field">
                                        <label class="signup-sto__label" for="date-from">Дата <span>*</span></label>
                                        <div class="date-picker-main">
                                            <input class="signup-sto__date-from" id="date-from" type="date" name="order-from"
                                                   placeholder="Дата"
                                                   min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                                                <use href="~/assets/images/svg/symbol/sprite.svg#calendar-alt"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="signup-sto__field">
                                        <label class="signup-sto__label" for="u-signup-time">Время</label>
                                        <select class="js-select-default" name="signup-time" id="u-signup-time">
                                            <option value="10:00">10:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="12:00">12:00</option>
                                            <option value="13:00">13:00</option>
                                            <option value="14:00">14:00</option>
                                            <option value="15:00">15:00</option>
                                            <option value="16:00">16:00</option>
                                            <option value="17:00">17:00</option>
                                            <option value="18:00">18:00</option>
                                            <option value="19:00">19:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="signup-sto__service-data">
                    <legend class="signup-sto__heading">Время записи <span>*</span></legend>
                    <div class="radio-option">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt active">
                                    <div class="radio-opt__title">СТО Варница</div>
                                    <div class="radio-opt__address">г. Кишинёв, ул. Варница 8/1</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-online" checked id="opt-1">
                                            <label class="radio-label__main" for="opt-1">Выбрать</label>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Каля Ешилор</div>
                                    <div class="radio-opt__address">г. Кишинёв, ул. Каля Ешилор 14</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-2">
                                            <label class="radio-label__main" for="opt-2">Выбрать</label>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Узинелор</div>
                                    <div class="radio-opt__address">г. Кишинёв, ул. Узинелор, 88</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-3">
                                            <label class="radio-label__main" for="opt-3">Выбрать</label>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Бельцы</div>
                                    <div class="radio-opt__address">г. Бельцы, ул. Аэродромная 7а</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-4">
                                            <label class="radio-label__main" for="opt-4">Выбрать</label>
                                        </div>
                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="radio-opt">
                                    <div class="radio-opt__title">СТО Комрат</div>
                                    <div class="radio-opt__address">г. Комрат, ул. Победы 115</div>
                                    <div class="radio-opt__footer">
                                        <div class="radio-label">
                                            <input class="radio-label__input" type="radio" name="payment" value="payment-cash" id="opt-5">
                                            <label class="radio-label__main" for="opt-5">Выбрать</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="signup-sto__footer">
                    <div class="row">
                        <div class="col-md-9">
                            <textarea class="signup-sto__msg" rows="1" name="user-msg" placeholder="Краткое описание проблемы"></textarea>
                        </div>
                        <div class="col-md-3">
                            <input class="signup-sto__btn btn btn--main" type="submit" name="send-data" value="Записаться на СТО">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <div data-tooltip-content="params1">
        <div class="tooltip-markup">
            <div class="tooltip-markup__heading">Подробная информация</div>
            <div class="tooltip-markup__body">
                <div class="manual-params">
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Номер</dt>
                        <dd class="manual-params__property">04112</dd>
                    </dl>
                    <dl class="manual-params__param">
                        <dt class="manual-params__value">Наименование</dt>
                        <dd class="manual-params__property">Комплект уплотнительных прокладок двигателя <small>Примечание: 2ZRFXE..ZVW30</small></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div data-tooltip-content="params2">
        <div class="tooltip-markup">
            </div>
        </div>
    </div>
</div>