<footer class="footer js-footer-collapse">
    <div class="container-fluid">
        <div class="footer__main">
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        О компании
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Vacation", "Home")">Работа и карьера</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Бонусная программа</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Спонсорство</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Партнерство </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Помощь и поддержка
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Центр помощи</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Блог</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Руководства по ремонту автомобилей и видеоуроки</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Примечания по утилизации отработанного масла</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Условия</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Право на отказ</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Защита данных</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Обслуживание клиентов
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Оплата</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Перевозка</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link js-callback-popup-trigger" href="#">Связаться с нами</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Возврат</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Обменять товар</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer-popup">
                        <div class="footer-popup__header">
                            <div class="footer-popup__heading">Свяжитесь с нами</div><span class="footer-popup__close">
                                <svg class="icon icon-close footer-popup__close-icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#close"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="footer-popup__main">
                            <form class="footer-popup__form" action="/" method="POST" name="callback">
                                <div class="footer-popup__cols">
                                    <div class="footer-popup__field">
                                        <input class="footer-popup__input input" type="text" name="username" placeholder="Ваше имя">
                                    </div>
                                    <div class="footer-popup__field">
                                        <input class="footer-popup__input input" type="email" name="email" placeholder="Ваш e-mail">
                                    </div>
                                </div>
                                <div class="footer-popup__field">
                                    <textarea class="footer-popup__textarea textarea" name="question" placeholder="Ваш вопрос"></textarea>
                                </div>
                                <input class="footer-popup__btn btn btn--main" type="submit" name="send" value="Задать вопрос">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Лучшие продукты
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Освещение</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Амортизаторы</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Комплект сцепления</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Колесные подшипники</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Уход за автомобилем</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Купить по производителю</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Купить по модели</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Поиск моделей автомобилей</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Производитель автозапчастей</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer__conclude">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="footer__socials">
                        <div class="logo footer__logo"><span class="logo__wrap"><img class="logo__img img-responsive" src="~/assets/images/general/footer-logo.png" alt="Motex" width="110" height="45"></span></div>
                        <ul class="soc">
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-twitter soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-facebook-f soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#facebook-f"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-instagram soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="worktime">
                        <div class="worktime__heading">График работы службы поддержки клиентов</div>
                        <div class="worktime__desc">
                            <strong>с понедельника по пятницу</strong>: с 8:00 до 22:00, <br>
                            <strong>суббота</strong> с 8:00 до 16:00, <strong>выходной - воскресенье</strong>.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer__meta"><small class="copy">&copy; 2025 www.autowares.md интернет магазин </small></div>
                </div>
            </div>
        </div>
    </div>
</footer>