
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "About_2";
}

<main class="main-content">
    <div class="post">
        <h2 class="text-center">Рады приветствовать Вас в интернет-магазине AutoWares.md!</h2>
        <p><strong>Портал AutoWares.md</strong> – это самый крупный молдавсикй интернет-магазин автозапчастей, в ассортименте которого более 14 млн товаров. </p>
        <p>Сегодня на страницах нашего интернет-магазина представлен широкий спектр товаров для легковых и грузовых автомобилей: автозапчасти, аксессуары, масла, оптика, шины, диски, лампы, системы охлаждения и кондиционирования, оборудование для СТО, инструменты и прочее.</p>
        <p>Залогом качественного обслуживания <strong>AutoWares.md</strong> является высококвалифицированный коллектив, сотрудничество с надежными поставщиками и использование современных информационных технологий. С <strong>AutoWares.md</strong> Вы без труда совершите покупку, не выходя из дома, офиса или гаража.</p>
        <h2 class="text-center">На сегодняшний день, AutoWares.md - это:</h2>
        <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-pallet company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#pallet"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Широкий ассортимент товара и доступные цены</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-recommended company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#recommended"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Высокое качество от ведущих мировых брендов</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-truck-delivery company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#truck-delivery"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Доставка по всемй Молдове от 500 леев в течении 2-3 дней</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-analytics company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#analytics"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Удобная система поиска товара и оформления заказа</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-support company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#support"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Сложности в подборе запчасти? </p><a class="company-feature__link" href="tel:+14814">Звоните -  14814</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-wallet company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#wallet"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Оплата наличными при получении товара или Картами Visa / Mastercard</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-discount company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#discount"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Система скидок и подарков для постоянных клиентов</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <figure class="company-feature">
                    <div class="company-feature__icon-wrap">
                        <svg class="icon icon-analytics company-feature__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#analytics"></use>
                        </svg>
                    </div>
                    <figcaption class="company-feature__figcaption">
                        <p class="company-feature__desc">Регулярные акции и специальные предложения</p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="post-features">
                    <div class="post-features__heading">Доступен с любого устройства</div>
                    <p class="post-features__desc">Под рукой не оказалось компьютера? Не беда. Вы можете разместить или отредактировать заказ при помощи любого современного смартфона или планшета.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-features">
                    <div class="post-features__heading">Всегда на связи</div>
                    <p class="post-features__desc">
                        Не можете найти нужную деталь? Хотите проконсуль
                        <wbr>тироваться? Наберите телефон горячей линии 14814, и Ваша проблема будет решена. Все просто.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-features">
                    <div class="post-features__heading">Удобная оплата</div>
                    <p class="post-features__desc">Вы можете оплатить заказ наличными или перечислением. А все необходимые документы мы привезем вместе с заказом.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-features">
                    <div class="post-features__heading">Мы не &laquo;виртуальны&raquo;</div>
                    <p class="post-features__desc">Коллектив - это более 200 сотрудников, склады площадью 5000 м² и собственные филиалы в регионах. </p>
                </div>
            </div>
        </div>
        <h3 class="text-center">Сделайте процесс покупки максимально быстрым и комфортным!</h3>
    </div>
</main>
