@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "News";
}

<main class="main-content">
    <div class="inner-news">
        <a class="news-wrap" href="#">
            <article class="news news--lead">
                <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-1-inner.jpg" alt="News Title"></div>
                <div class="news__body">
                    <time class="news__date" datetime="2019-08-24">24.08.2019</time>
                    <div class="news__title">График работы в период национальных праздников</div>
                    <p class="news__excerpt">Уважаемые клиенты! <br> В период государственных праздников – 27 и 31 августа, магазин AutoWares работает для Вас полный рабочий день.</p>
                    <ul>
                        <li>27 августа - 08:00 – 18:00;</li>
                        <li>31 августа - 08:00 – 15:00.</li>
                    </ul>
                </div>
            </article>
        </a>
        <section class="news-section news-section--column">
            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-2-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-08-16">16.08.2019</time>
                        <div class="news__title">Расширение ассортимента по бренду NRG</div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares сообщает о расширении ассортимента ролик</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-3-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-08-16">16.08.2019</time>
                        <div class="news__title">Расширение ассортимента по бренду FAG</div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares сообщает о расширении ассортимента ролик</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-4-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-07-24">24.07.2019</time>
                        <div class="news__title">
                            Широкий ассортимент навигаторов и видеоре
                            <wbr>гистраторов от бренда NAVITEL
                        </div>
                        <p class="news__excerpt">Уважаемые клиенты! Компания</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-5-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-07-24">16.07.2019</time>
                        <div class="news__title">MOTUL - это больше, чем бренд</div>
                        <p class="news__excerpt">Дорогие друзья! Представляем вашему вниманию широкий ассортимент автохимии по бренду MOTUL.</p>
                    </div>
                </article>
            </a>
        </section>
        <section class="news-section news-section--row">
            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-6-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-09-09">09.09.2019</time>
                        <div class="news__title">
                            Широкий ассортимент щёток стеклоо
                            <wbr>чистителей
                        </div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-7-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-08-16">16.08.2019</time>
                        <div class="news__title">
                            Широкий ассортимент щёток стеклоо
                            <wbr>чистителей
                        </div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-8-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-09-09">09.09.2019</time>
                        <div class="news__title">Широкий ассортимент щёток стеклоочистителей</div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-9-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-09-09">09.09.2019</time>
                        <div class="news__title">
                            Широкий ассортимент щёток стеклоо
                            <wbr>чистителей
                        </div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности</p>
                    </div>
                </article>
            </a><a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-10-inner.jpg" alt="News Title"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2019-09-09">09.09.2019</time>
                        <div class="news__title">
                            Широкий ассортимент щёток стеклоо
                            <wbr>чистителей
                        </div>
                        <p class="news__excerpt">Дорогие друзья! Компания AutoWares предлагает широкий ассортимент щёток стеклоочистителей от ведущих брендов BOSCH и NRG по доступным ценам! Щётки легко устанавливаются на любой автомобиль, они хорошо подходят к изгибу поверхности</p>
                    </div>
                </article>
            </a>
        </section>
        <div class="pagination-wrap">
            <div class="pagination">
                <a class="pagination__prev" href="#">
                    <svg class="icon icon-arrow-left pagination__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#arrow-left"></use>
                    </svg>
                </a>
                <ul class="pagination__list">
                    <li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
                    <li class="pagination__item"><a class="pagination__link active" href="#">4</a></li>
                    <li class="pagination__item">&hellip;</li>
                    <li class="pagination__item"><a class="pagination__link" href="#">12</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">13</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">14</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">15</a></li>
                </ul><a class="pagination__next" href="#">
                    <svg class="icon icon-arrow-right pagination__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>

