@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Новости библиотеки";
}

<main class="main-content">
    <div class="inner-news">
        <!-- Главная новость -->
        <a class="news-wrap" href="#">
            <article class="news news--lead">
                <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-1-inner.jpg" alt="Новость библиотеки"></div>
                <div class="news__body">
                    <time class="news__date" datetime="2024-12-15">15.12.2024</time>
                    <div class="news__title">Расширение графика работы в предпраздничные дни</div>
                    <p class="news__excerpt">Уважаемые читатели! <br> В преддверии новогодних праздников библиотека продлевает часы работы для вашего удобства.</p>
                    <ul>
                        <li>23-27 декабря - 8:00 – 20:00;</li>
                        <li>28-29 декабря - 8:00 – 18:00;</li>
                        <li>30 декабря - 8:00 – 15:00.</li>
                    </ul>
                </div>
            </article>
        </a>

        <!-- Колонка новостей -->
        <section class="news-section news-section--column">
            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-2-inner.jpg" alt="Новые поступления"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-12-10">10.12.2024</time>
                        <div class="news__title">Пополнение фонда современной литературы</div>
                        <p class="news__excerpt">Наша библиотека обновила коллекцию современной прозы и нон-фикшена. Теперь доступны новейшие произведения...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-3-inner.jpg" alt="Литературный кружок"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-12-05">05.12.2024</time>
                        <div class="news__title">Открытие литературного кружка для детей</div>
                        <p class="news__excerpt">Приглашаем юных читателей на занятия литературного кружка "Волшебный мир книг". Чтение, обсуждения и творческие...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-4-inner.jpg" alt="Цифровые ресурсы"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-11-28">28.11.2024</time>
                        <div class="news__title">Доступ к новым электронным базам данных</div>
                        <p class="news__excerpt">Теперь у наших читателей есть доступ к научным журналам и академическим базам данных через библиотечный портал...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-5-inner.jpg" alt="Ремонт залов"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-11-20">20.11.2024</time>
                        <div class="news__title">Реновация читальных залов завершена</div>
                        <p class="news__excerpt">Мы рады сообщить, что работы по обновлению читальных залов завершены. Теперь у нас еще более комфортные условия...</p>
                    </div>
                </article>
            </a>
        </section>

        <!-- Ряд новостей -->
        <section class="news-section news-section--row">
            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-6-inner.jpg" alt="Встреча с автором"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-11-15">15.11.2024</time>
                        <div class="news__title">Творческая встреча с местным писателем</div>
                        <p class="news__excerpt">Приглашаем всех любителей литературы на встречу с известным молдавским автором. Презентация новой книги, автограф-сессия и живое общение с писателем. Мероприятие пройдет в главном читальном зале...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-7-inner.jpg" alt="Летняя программа"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-11-10">10.11.2024</time>
                        <div class="news__title">Летняя программа чтения для школьников</div>
                        <p class="news__excerpt">Подготовлена специальная программа летнего чтения для учащихся всех возрастов. Конкурсы, викторины и призы за прочитанные книги. Регистрация участников начинается с 1 декабря...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-8-inner.jpg" alt="Библиотечные курсы"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-11-05">05.11.2024</time>
                        <div class="news__title">Новые образовательные курсы в библиотеке</div>
                        <p class="news__excerpt">Запускаем серию бесплатных курсов: цифровая грамотность для старшего поколения, основы исследований для студентов и мастер-классы по скорочтению. Запись открыта...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-9-inner.jpg" alt="Волонтерство"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-10-28">28.10.2024</time>
                        <div class="news__title">Программа волонтерства в библиотеке</div>
                        <p class="news__excerpt">Приглашаем желающих присоединиться к нашей волонтерской программе. Помощь в организации мероприятий, работа с фондами и многое другое. Отличная возможность...</p>
                    </div>
                </article>
            </a>

            <a class="news-wrap" href="#">
                <article class="news">
                    <div class="news__img-wrap"><img class="news__img" src="~/assets/images/content/news-10-inner.jpg" alt="Техническое обновление"></div>
                    <div class="news__body">
                        <time class="news__date" datetime="2024-10-20">20.10.2024</time>
                        <div class="news__title">Обновление компьютерного парка библиотеки</div>
                        <p class="news__excerpt">Завершено техническое обновление компьютерного зала. Теперь читатели могут пользоваться современными компьютерами с доступом к электронным ресурсам и базам данных...</p>
                    </div>
                </article>
            </a>
        </section>

        <!-- Пагинация -->
        <div class="pagination-wrap">
            <div class="pagination">
                <a class="pagination__prev" href="#">
                    <svg class="icon icon-arrow-left pagination__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#arrow-left"></use>
                    </svg>
                </a>
                <ul class="pagination__list">
                    <li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
                    <li class="pagination__item"><a class="pagination__link active" href="#">4</a></li>
                    <li class="pagination__item">&hellip;</li>
                    <li class="pagination__item"><a class="pagination__link" href="#">12</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">13</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">14</a></li>
                    <li class="pagination__item"><a class="pagination__link" href="#">15</a></li>
                </ul>
                <a class="pagination__next" href="#">
                    <svg class="icon icon-arrow-right pagination__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>