
@{
    ViewBag.Title = "Select_car";
}

<div class="inner-section inner-section--mod">
    <div class="container-fluid">
        <div class="inner-section__header">
            <h1 class="inner-section__heading">Подбор по автомобилю</h1><a href="#"><img class="inner-section__header-img" src="~/assets/images/general/tecdoc.png" width="45" height="45"></a>
        </div>
        <div class="inner-section__body inner-section__body--no-gutters">
            <div class="tabs-section">
                <div class="tabs">
                    <div class="tabs__header">
                        <ul class="tabs__list">
                            <li class="tabs__item"><a class="tabs__link is-active" href="#section-1">Легковые</a></li>
                            <li class="tabs__item"><a class="tabs__link" href="#section-2">Грузовые</a></li>
                        </ul>
                    </div>
                    <div class="tabs__panes">
                        <div class="tabs__tab-pane is-active">
                            <div class="tabs__accordeon-body">
                                <div class="tabs__accordeon-wrap">
                                    <div class="car-selection js-car-selection-type-1">
                                        <div class="car-selection__field">
                                            <select class="js-select-car" name="car-brand">
                                                <option placeholder>Выберите марку</option>
                                                <option value="Toyota">Toyota</option>
                                                <option value="Mazda">Mazda</option>
                                                <option value="BMW">BMW</option>
                                                <option value="Nissan">Nissan</option>
                                                <option value="Audi">Audi</option>
                                            </select>
                                        </div>
                                        <div class="car-selection__field">
                                            <select class="js-select-car" name="car-model">
                                                <option placeholder>Выберите модель</option>
                                                <option value="Land-Cruiser">Land Cruiser (_J12_)</option>
                                                <option value="A6">A6</option>
                                                <option value="Romero">Romero</option>
                                            </select>
                                        </div>
                                        <div class="car-selection__field">
                                            <select class="js-select-car" name="car-fuel">
                                                <option placeholder>Тип топлива</option>
                                                <option value="type-1">Дизель</option>
                                                <option value="type-2">Газ</option>
                                                <option value="type-3">Бензин</option>
                                                <option value="type-4">Элекстрика</option>
                                            </select>
                                        </div>
                                        <div class="car-selection__field">
                                            <select class="js-select-car" name="car-year">
                                                <option placeholder>Год выпуска</option>
                                                <option value="years-set-1">1990-2000</option>
                                                <option value="years-set-2">2000-2010</option>
                                                <option value="years-set-3">2010-2020</option>
                                                <option value="years-set-4">2020-2030</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input class="car-selection__input" type="text" name="param-1" placeholder="Объем">
                                                <div class="checkbox-label">
                                                    <input class="checkbox-label__input" type="checkbox" name="is-opt-1" id="opt-1">
                                                    <label class="checkbox-label__main" for="opt-1">+/- 10%</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="car-selection__power">
                                                    <input class="car-selection__input" type="text" name="param-2" placeholder="Мощность">
                                                    <select class="js-select-default">
                                                        <option value="set-1">кВт</option>
                                                        <option value="set-2">вт</option>
                                                        <option value="set-3">кВт</option>
                                                        <option value="set-4">вт</option>
                                                    </select>
                                                </div>
                                                <div class="checkbox-label">
                                                    <input class="checkbox-label__input" type="checkbox" name="is-opt-2" id="opt-2">
                                                    <label class="checkbox-label__main" for="opt-2">+/- 10%</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner-section__type-img-wrap"><img class="inner-section__type-img img-responsive" src="~/assets/images/general/car-type.png" width="600" height="400"></div>
                            </div>
                        </div>
                        <div class="tabs__tab-pane">
                            <div class="tabs__accordeon-body">
                                <div class="tabs__accordeon-wrap">
                                    <div class="car-selection js-car-selection-type-2">
                                        <div class="car-selection__field">
                                            <select class="js-select-truck" name="car-brand">
                                                <option placeholder>Выберите марку</option>
                                                <option value="Toyota">Toyota</option>
                                                <option value="Mazda">Mazda</option>
                                                <option value="BMW">BMW</option>
                                                <option value="Nissan">Nissan</option>
                                                <option value="Audi">Audi</option>
                                            </select>
                                        </div>
                                        <div class="car-selection__field">
                                            <select class="js-select-truck" name="car-model">
                                                <option placeholder>Выберите модель</option>
                                                <option value="Land-Cruiser">Land Cruiser (_J12_)</option>
                                                <option value="A6">A6</option>
                                                <option value="Romero">Romero</option>
                                            </select>
                                        </div>
                                        <div class="car-selection__field">
                                            <select class="js-select-truck" name="car-fuel">
                                                <option placeholder>Тип топлива</option>
                                                <option value="type-1">Дизель</option>
                                                <option value="type-2">Газ</option>
                                                <option value="type-3">Бензин</option>
                                                <option value="type-4">Элекстрика</option>
                                            </select>
                                        </div>
                                        <div class="car-selection__field">
                                            <select class="js-select-truck" name="car-year">
                                                <option placeholder>Год выпуска</option>
                                                <option value="years-set-1">1990-2000</option>
                                                <option value="years-set-2">2000-2010</option>
                                                <option value="years-set-3">2010-2020</option>
                                                <option value="years-set-4">2020-2030</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input class="car-selection__input" type="text" name="param-1" placeholder="Объем">
                                                <div class="checkbox-label">
                                                    <input class="checkbox-label__input" type="checkbox" name="is-opt-3" id="opt-3">
                                                    <label class="checkbox-label__main" for="opt-3">+/- 10%</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="car-selection__power">
                                                    <input class="car-selection__input" type="text" name="param-2" placeholder="Мощность">
                                                    <select class="js-select-default">
                                                        <option value="set-1">кВт</option>
                                                        <option value="set-2">вт</option>
                                                        <option value="set-3">ЛС</option>
                                                    </select>
                                                </div>
                                                <div class="checkbox-label">
                                                    <input class="checkbox-label__input" type="checkbox" name="is-opt-4" id="opt-4">
                                                    <label class="checkbox-label__main" for="opt-4">+/- 10%</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn--main">Добавить</button>
                                </div>
                                <div class="inner-section__type-img-wrap"><img class="inner-section__type-img img-responsive" src="~/assets/images/general/truck-type.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a href="#"><img class="inner-section__brand-img" src="~/assets/images/general/tecdoc.png" width="65" height="65"></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card-specification-section card-specification-section--offset">
        <div class="table-responsive">
            <table class="spec-table spec-table--inner">
                <thead class="spec-table__thead">
                    <tr class="spec-table__tr">
                        <th class="spec-table__th">Модель / Двигатель</th>
                        <th class="spec-table__th">Тип топлива</th>
                        <th class="spec-table__th">Года выпуска</th>
                        <th class="spec-table__th">Мощность, л.с.</th>
                        <th class="spec-table__th">Объем, см3</th>
                    </tr>
                </thead>
                <tbody class="spec-table__tbody">
                    <tr class="spec-table__tr">
                        <td class="spec-table__td">
                            <div class="spec-table__title"><a class="spec-table__title-model" href="#">Toyota Land Cruiser (j120) 3.4</a></div>
                        </td>
                        <td class="spec-table__td"><span class="spec-table__engine">— / —</span></td>
                        <td class="spec-table__td">2002 - 2004</td>
                        <td class="spec-table__td">136</td>
                        <td class="spec-table__td">3378</td>
                        <td class="spec-table__td">
                            <a class="btn btn--reverse" href="#">Поиск</a>
                        </td>
                    </tr>
                    <tr class="spec-table__tr">
                        <td class="spec-table__td">
                            <div class="spec-table__title"><a class="spec-table__title-model" href="#">Toyota Land Cruiser (j120) 4.0 3.0 D-4D (KDJ120, KDJ150, KDJ125)</a></div>
                        </td>
                        <td class="spec-table__td"><span class="spec-table__engine">— / —</span></td>
                        <td class="spec-table__td">2002 - 2004</td>
                        <td class="spec-table__td">145</td>
                        <td class="spec-table__td">3378</td>
                        <td class="spec-table__td">
                            <a class="btn btn--reverse" href="#">Поиск</a>
                        </td>
                    </tr>
                    <tr class="spec-table__tr">
                        <td class="spec-table__td">
                            <div class="spec-table__title"><a class="spec-table__title-model" href="#">Toyota Land Cruiser (j120) 3.4</a></div>
                        </td>
                        <td class="spec-table__td"><span class="spec-table__engine">— / —</span></td>
                        <td class="spec-table__td">2002 - 2004</td>
                        <td class="spec-table__td">136</td>
                        <td class="spec-table__td">3378</td>
                        <td class="spec-table__td">
                            <a class="btn btn--reverse" href="#">Поиск</a>
                        </td>
                    </tr>
                    <tr class="spec-table__tr">
                        <td class="spec-table__td">
                            <div class="spec-table__title"><a class="spec-table__title-model" href="#">Toyota Land Cruiser (j120) 4.0 3.0 D-4D (KDJ120, KDJ150, KDJ125)</a></div>
                        </td>
                        <td class="spec-table__td"><span class="spec-table__engine">— / —</span></td>
                        <td class="spec-table__td">2002 - 2004</td>
                        <td class="spec-table__td">145</td>
                            <td class="spec-table__td">3378</td>
                        <td class="spec-table__td">
                            <a class="btn btn--reverse" href="#">Поиск</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>